<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <title>Biblioteca</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header><h1>Sistema de Biblioteca</h1></header>
  <main class="container">
    <a class="btn" href="/cadastrar">Cadastrar Pessoas / Livros</a>
    <a class="btn" href="/locar">Locar Livro</a>
    <a class="btn" href="/devolver">Devolver Livro</a>
    <a class="btn" href="/status">Status do Sistema</a>
  </main>
</body>
</html>
